.about {
  padding: 50px 0;
}
.about__features {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 2.5rem;
}

.feature {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.feature > p {
  padding-left: 1.5rem;
}

.feature p > span {
  display: block;
}

.feature__imgContainer {

  background: #fff;
  padding: 0 1rem;
  border-radius: 50%;
}


.svg {
width: 140px;
height: 130px;
flex-shrink: 0;
}


@media screen and (max-width: 480px) {
  .feature > p {
    font-size: 0.875rem;
  }

  .svg {
    width: 110px;
    height: 130px;

    }
}

