.moduleDetailsContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.moduleDetails {
  width: 75%;
  background: #fff;
  display: flex;
  justify-content: center;
  gap: 2.75rem;
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 10px;

}

.uniLogo {
  width: 100px;
  height: 100px;
  border: 1px solid lightgray;
  border-radius: 50%;
}

.u_name {
  font-weight: 400;
  font-size: 0.875rem;
}

.module_name {
  color: #262a30;
  font-weight: 700;
  font-size: 2.125rem;
  text-align: left;
}

.module_contents {
  font-weight: 400;
  font-size: 0.875rem;
}

.module_features {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.module_feature {
  background: #bcd8c1;
  margin: 1.5rem 0;
  padding: 0.875rem 3rem;
  border-radius: 10px;
}

.module_feature h4,
.module_feature p {
  font-size: 0.875rem;
}

.module_feature p {
  font-weight: bold;
  margin-bottom: 0;
}

@media screen and (max-width: 464px) {
  .moduleDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}