.sidebar {
  padding-top: 45px;
  background-color: #bbd5cf;
  height: 100vh;
  width: 180px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  border-right: 1px solid rgba(0, 0, 0, .1);
  z-index: 100;
}

.sidebar__contents {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidebar__top {
  display: flex;
  flex: 0.8;
}

.sidebar__top__links {
  list-style-type: none;
  width: 100%;
  padding-top: 20px;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.125rem;
}


.sidebar__bottom__links {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  gap: 1.125rem;

}

.sidebar__top__links,
.sidebar__bottom__links {
  padding-left: 0;
}

.sidebar__top__links a,
.sidebar__bottom__links a {
  text-decoration: none;
  color: #000;
}

.sidebar__top__link svg,
.sidebar__bottom__link svg {
  font-size: 18px;
  transition: all 0.5s ease-in-out;
}

.sidebar__top__link,
.sidebar__bottom__link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  padding: 16px;

}

.sidebar__top__link:hover .sidebar__bottom__link:hover {
  background: var(--primary-color);
  color: white;
}

.sidebar__top__link span,
.sidebar__bottom__link span {
  padding-left: 10px;

}

.sidebar__top__link.active {
  background: var(--primary-color);
  color: #fff;
}

@media screen and (max-width: 515px) {

  .sidebar__top__link span,
  .sidebar__bottom__link span {
    display: none;
  }

  .sidebar__top__link svg,
  .sidebar__bottom__link svg {
    font-size: 30px;
  }

  .sidebar {
    width: 70px;
  }
}