#menu-close-button {
  appearance: none;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

#menu-close-button svg rect {
  transition: all .2s ease-in-out;
}

#menu-close-button svg path {
  transition: all .2s ease-in-out;
}

#menu-close-button:hover svg rect {
  fill: var(--primary-color);
  fill-opacity: 1;
}

#menu-close-button:hover svg path  {
  fill: #fff;
  
}